#header-container {
	height: 170px;
	overflow: hidden;
	padding: 0;
	margin:  0;
}

#video-background {
	width: 100%;
	z-index: 100;
	position: absolute;
	height: 170px;
	overflow: hidden;
}

#header {
	z-index: 900;
	position: absolute;
	left:  0;
	right: 0;
	top:   0;
}
/* --- */

#header {
	width: 600px;
}

#header .logo img {
	width: 36px;
	vertical-align: sub;
	margin-right:  7px;
	margin-bottom: 1px;
}

#header p {
	color: #FFF;
	opacity: 0.8;
}


.page-menu {
	z-index: 2000;
	position: absolute;
	top: 190px;
	left: 0;
	right: 0;
}

.page-menu a {
	font-size: 12px;
}

div.post .copy {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 16px;
}

div.post img {
	margin: 2px 0 20px 2px;
}

div.post img.blueBorder {
	border: 1px solid lightgray;
}


/* Code */

div.post .copy pre {
	font-size: 12px;
	padding: 2px 0 2px 15px;
	border: 4px solid #BBB;
	border-top:    0;
	border-right:  0;
	border-bottom: 0;
	margin: 0px 0 25px;

	font-family: Monaco, Consolas, "Lucida Console", monospace;
	line-height: 18px;
	font-style: normal;
	overflow:   hidden;
	overflow-x: scroll;
	tab-size: 4;
}
